body{
    font-family: arial,sans-serif;
    font-size: 14px;
}

.top-area{
    display: flex;
    justify-content: space-between;
}

.top-left{
    display: flex;
    align-items: center;
    padding: 6px;
    float: left;
}

.top-right{
    display: flex;
    align-items: center;
    padding: 6px;
    float: right;
}
.top-icons{
    display: flex;
    align-items: center;
    padding: 6px;
    float: right;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.store{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

.about{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

.gmail{
    display: inline-block;
    position: absolute;
    padding: 5px;
    margin: 0 5px;
    color: #222;
    right: 10%;
}

.images{
    display: inline-block;
    position: absolute;
    padding: 5px;
    margin: 0 5px;
    color: #222;
    right: 6%;
}



.apps-container{
    position: absolute;
    display: inline-block;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.apps-container:hover{
    background-color: rgba(221, 220, 220, 0.4);
}

.apps{
    display: flex;
    position: absolute;
    left: 28%;
    top: 28%;
}   